@font-face {
    font-family: 'latin-modern-roman';
    src: url('../fonts/lmr-regular.woff2') format('woff2'),
         url('../fonts/lmr-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin-modern-roman';
    src: url('../fonts/lmr-italic.woff2') format('woff2'),
         url('../fonts/lmr-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* links */

a {
  color: black;
}

header > a:link,
header > a:visited,
.menu-item > a:link,
.menu-item > a:visited {
  text-decoration: none;
}

header > a:hover,
.menu-item > a:hover {
  text-decoration: underline;
}

a:link,
a:visited,
.select > a:link,
.select > a:visited  {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: latin-modern-roman;
  font-size: 14pt;
}

body {
  margin: 0px;
}

header {
  border-top: 10px solid #EA983f;
  padding: 20px;
  position: fixed;
  width: 100%;
  background-color: white;
}

section.main {
  max-width: 600px;
  padding: 0px 20px;
  padding-top: 80px;
}

section.body {
  padding-top: 20px;
}
